@{
    ViewData["Title"] = "E-post sendt";
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">E-post sendt</h1>
            
            <div class="alert alert-success">
                <p>Hvis en konto med den e-postadressen eksisterer, har vi sendt deg en e-post med en lenke for å tilbakestille passordet ditt.</p>
                <p>Vennligst sjekk e-posten din og følg instruksjonene i e-posten.</p>
            </div>
            
            <div class="mt-3">
                <a asp-action="Login" class="btn btn-primary">Tilbake til innlogging</a>
            </div>
        </div>
    </div>
</div>

