@model FirstWebApplication.Models.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Logg inn";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
	<link rel="stylesheet" href="~/css/Register.css" />
}

<div class="login-wrapper">
    <div class="login-box">
        <h2>Logg inn</h2>

        <form asp-action="Login" method="post" novalidate>
            @Html.AntiForgeryToken()
            
            <div asp-validation-summary="All" class="text-danger mb-3"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Username">Brukernavn</label>
                <input asp-for="Username" class="form-control" autocomplete="username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Password">Passord</label>
                <input asp-for="Password" type="password" class="form-control" autocomplete="current-password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

           
            <div class="mb-3 text-end">
                <a asp-action="ForgotPassword">Glemt passord?</a>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Logg inn</button>
            <div class="login-link mt-3 text-center">
                Har du ikke konto? <a asp-action="Register">Registrer deg</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}