@{
    ViewData["Title"] = "Registrering mottatt";
}

<h2>Registrering mottatt</h2>
<p>
    Takk for at du registrerte deg. Du vil få en e-post når administratoren har godkjent kontoen din.
</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}