services:
  firstwebapplication:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080"
      - "8081"
    volumes:
      - ${APPDATA:-$HOME/.microsoft}/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA:-$HOME/.microsoft}/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA:-$HOME/.aspnet}/Https:/home/app/.aspnet/https:ro
      - ${APPDATA:-$HOME/.aspnet}/Https:/root/.aspnet/https:ro
    
   