.feedback-box {
    background-color: #d9e9fb; /* lys grå bakgrunn */
    border-radius: 8px;        /* avrundede hjørner */
    padding: 30px;             /* innvendig luft */
}

.feedback-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

textarea.form-control {
    width: 100%;
    min-height: 150px;
    resize: vertical;
}
