.thank-container {
    text-align: center;
    margin-top: 50px;
}

.thank-container h2 {
    font-size: 2rem; 
    margin-bottom: 20px;
}

.thank-container p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}