@model FirstWebApplication.Models.ViewModel.AdviceViewModel
@{
    // Setter tittelen på siden
    ViewData["Title"] = "Feedback";
}
<h2>Gi oss din feedback</h2>
<link rel="stylesheet" href="~/css/style.css" />

<!-- Form som sender data til samme action-metode i AdviceController via POST -->
<form method="post">
    <textarea asp-for="ViewadviceMessage" placeholder="Skriv her..." rows="6" cols="50"></textarea>
    <input type="email"  placeholder="Email.." asp-for="ViewEmail" />
    
    <br />
    <!-- Submit-knapp som sender inn skjemaet -->
    <button type="submit">Send</button>
</form>