@model FirstWebApplication.Models.Advice
@{
    ViewData["Title"] = "Feedback";
}
<h2>Gi oss din feedback</h2>

<form method="post">
    <textarea asp-for="adviceMessage" placeholder="Skriv her..." rows="6" cols="50"></textarea>
    <input type="email"  placeholder="Email.." asp-for="Email" />
    <input type="number" placeholder="ID" asp-for="adviceID" />

    <br />
    <button type="submit">Send</button>
</form>



