@model FirstWebApplication.Models.ViewModel.AdviceViewModel
@{
    ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="~/css/FeedbackForm.css" />
<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            
            
            <div class="feedback-box p-4 rounded">
                <h1 class="mt-0 mb-3 h3 text-center">
                    Tilbakemelding
                </h1>

                <form asp-action="FeedbackForm" method="post">
                    <div class="mb-3">
                        <label class="form-label">Melding</label>
                        <textarea class="form-control" asp-for="ViewadviceMessage" placeholder="Skriv her..." rows="6"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">E-post</label>
                        <input type="email" class="form-control" asp-for="ViewEmail" placeholder="E-post..." />
                    </div>

                    <div class="feedback-button">
                        <button type="submit" class="btn btn-primary">Send tilbakemelding</button>
                    </div>
                </form>
            </div>
            

        </div>
    </div>
</div>

<!-- Form som sender data til samme action-metode i AdviceController via POST -->
<form method="post">
    @Html.AntiForgeryToken()
    <textarea asp-for="ViewadviceMessage" placeholder="Skriv her..." rows="6" cols="50"></textarea>
    <input type="email"  placeholder="Email.." asp-for="ViewEmail" />
    
    <br />
    <!-- Submit-knapp som sender inn skjemaet -->
    <button type="submit">Send</button>
</form>
