@model FirstWebApplication.Models.ViewModel.AdviceViewModel
@{
    ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="~/css/FeedbackForm.css" />
<div class = "feedbackform-title">
<h1>Tilbakemelding</h1>
</div>


<form method="post" class="feedback-form">
    <textarea asp-for="ViewadviceMessage" class="feedback-message" placeholder="Skriv her..." rows="6" cols="50"></textarea>
    <input type="email" class="feedback-email" placeholder="Email.." asp-for="ViewEmail" />
    <br />
    <button type="submit" class="feedback-submit">Send inn</button>
</form>
