@model FirstWebApplication.Models.Advice
@{
    ViewData["Title"] = "Takk for tilbakemeldingen!";
}

<link rel="stylesheet" href="~/css/ThankForm.css" />

<div class="thank-container">
    <h2>Tusen takk for din tilbakemelding!</h2>
    
    <p>Vi setter stor pris på at du tok deg tid til å gi oss dine innspill.</p>
 
    <form method="get" asp-controller="Home" asp-action="Index">
        <button type="submit" class="btn btn-primary">Tilbake til hjem</button>
    </form>
</div>