@model FirstWebApplication.Models.Advice
@{
    ViewData["Title"] = "Takk for tilbakemeldingen!";
}

<div style="text-align:center; margin-top:50px;">
    <h2>Tusen takk for din tilbakemelding!</h2>

    <p> @Model.Email, og her er din feedback: @Model.adviceMessage  </p>

    <p>Vi setter stor pris på at du tok deg tid til å gi oss dine innspill.</p>
 
    <form method="get" asp-controller="Home" asp-action="Index">
        <button type="submit" style="
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
            margin-top: 20px;
        ">
            Tilbake til Hjem
        </button>
    </form>
</div>