@{
    ViewData ["Title"] = "Bekreftelse av e-post";
}
<h1>@ViewData["Title"]</h1>

<div> 
<p>

Takk for at du bekreftet e-postadressen din.
Du kan nå <a asp-controller="Account"asp-action= "Login">logge inn her</a>
</p>
</d

