@{
    ViewData["Title"] = "Bekreftelse – glemt passord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vi har sendt deg en e-post med instruksjoner for å tilbakestille passordet ditt.  
    Sjekk innboksen (og søppelposten) din.
</p>

<p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
        Gå til innlogging
    </a>
</p>
